
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 200px;
}
.nav-items >ul{
    display: flex;
    font-size: 24px;
    list-style-type: none;
   
}

.nav-items ul li {
    padding: 10px;
    margin: 10px;
   
    
}

.res-card{
    
    width: 200px;
    padding: 5px;
    height: 500px;
    margin: 5px;
    
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    
}

a{
    color: inherit;
    text-decoration: none;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
    text-decoration: none;
}
.Search{

    padding: 10px;
    
}
.res-logo{
    /* width: 100%; */
    width: 200px;
    height: 200px;
    object-fit: cover; 
    
    
}

.filter-btn{
    margin:10px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}
.login{
    margin: 0 20px;
    cursor: pointer;
    width: 80;
}
Link {
    color: inherit; /* or your desired color */
    text-decoration: none;
  }